@media (max-width:1760px) {    
    .menuppal{
      /* background-color: rgba(45, 204, 205, 0.95); */
      bottom: 0;
      height: 111%;
      width: 100%;
      /* overflow-y: scroll; */
      position: fixed;
  
      /* transform: translate3d(0px, -100%, 0px); */
      transform: translate3d(0px, -100%, 0px);
      transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
      z-index: 99;
    }
    .menuppal ul {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      /* padding:0%; */
      /* height: 100%; */
      /* padding-left: 5%; */      
      /* background-color: var(--BBVA-Navy); */
      padding-top: 10%;
      padding-bottom: 0%;
      margin-bottom: 1%;
  }
  

  .menuppal ul li{
    height: 140px;
    width: 215px;
    padding-top: .8%;
    padding-right: 1%;
    padding-left: 1%;
    border: 3px solid white;
    margin: .8%;
    list-style: none;
    text-align: right;
    /* padding: 1%;     */    
  }

  .revistaActual{
    width: 600px;
    height: 900px;
  }

  .sizeRevista{
    width: 600px;
    height: 900px;
  }

  .box{
    width: 25%;
  }
}

@media (max-width:1165px) {  
  .menuppal{
    /* background-color: rgba(45, 204, 205, 0.95); */
    bottom: 0;
    height: 105%;
    width: 100%;
    /* overflow-y: scroll; */
    position: fixed;

    /* transform: translate3d(0px, -100%, 0px); */
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 99;
  }
  .menuppal ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding:5%;
    /* padding-left: 5%; */
    /* padding-bottom: 2%; */
    /* background-color: var(--BBVA-Navy); */
    padding-top: 3%;
  }
  .menuppal ul li{
    height: 150px;
    width: 190px;
    padding-top: .8%;
    padding-right: 1%;
    padding-left: 1%;
    border: 3px solid white;
    margin: .8%;
    list-style: none;
    text-align: right;
    /* padding: 1%;     */
  }
  .revistaActual{
    width: 600px;
    height: 900px;
  }

  .box{
    width: 30%;
  }

  .itemInducciones{
    width: 200px;
    height: 500px;
    border: 1px solid var(--BBVA-Core-Dark-Blue);
    margin-top: 10px;
    margin-right: 15px;
    padding: 1%;
    margin-bottom: 90px;
    /* display: flex; */
  }
}

@media (max-width:960px) {
  .hamburger{
    position:fixed;
    /* position: absolute;     */
    /* background-color:transparent; */
    /* background: rgb(7, 33, 70);  */
    background: #072146;
    left:87%;
    top:9%;
    /* top:3%; */
    height:40px;
    width:49px;
    padding:8px 10px ;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    transform:translate3d(0, 0, 0);
    transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index:100;
    border-radius: 10%;
    user-select:none
  }
  .menuppal{
    /* background-color: rgba(45, 204, 205, 0.95); */
    bottom: 0;
    height: 105%;
    width: 100%;
    /* overflow-y: scroll; */
    position: fixed;

    /* transform: translate3d(0px, -100%, 0px); */
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 99;
  }
  .menuppal ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding:2%;
    /* padding-left: 5%; */
    /* padding-bottom: 2%; */
    /* background-color: var(--BBVA-Navy); */
    /* padding-top: 2%; */
    padding-top: 17%;
  }  
  
  .menuppal ul li{
    height: 81px;
    width: 190px;
    padding-top: 3.5%;
    padding-right: 1%;
    padding-left: 1%;
    border: 3px solid white;
    margin: .8%;
    list-style: none;
    text-align: right;
    /* padding: 1%;     */
  }

  .revistaActual{
    width: 600px;
    height: 900px;
  }

  .sizeRevista{
    width: 430px;
    height: 386px;
  }

  .box{
    width: 30%;
  }

  .containerMgc{
    display: block;
  }

  .containerMeu{
    display: flex;
    flex-wrap: nowrap;
  }

  .containerSoporteDocumental{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bloques{
    width: 90%;
    height: 63%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 2.5%;
    padding-bottom: 2%;
    border:1px solid var(--BBVA-Aqua-White);
    background: var(--BBVA-Aqua-Darkest);
  }

  .imagenSoporteDocumental{
    width: 90%;
    margin-left: 0%;
  }

}


@media (max-width:790px) {
  .menuppal{
    /* background-color: rgba(45, 204, 205, 0.95); */
    bottom: 0;
    height: 107%;
    width: 100%;
    /* overflow-y: scroll; */
    position: fixed;

    /* transform: translate3d(0px, -100%, 0px); */
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 99;
  }

  .menuppal{
    padding-top: 15%; 
  }

  .sizeRevista{
    width: 330px;
    height: 520px;
  }

  .box{
    width: 30%;
  }

  .containerMgc{
    display: block;
  }
  .containerPuenteSDR{
    /* display: block; */
  }

  .containerMeu{
    display: block;
  }

  .gridUnidad {display: grid;row-gap: 2px;grid-template: repeat(4,1fr)/repeat(2,1fr);
    margin: 1%; margin-left: 5%;margin-right: 5%;
    color: var(--BBVA-Aqua-White);border: var(--BBVA-Core-Blue);
    box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);    
    padding-bottom: 0.5px;
  }

  .containerInducciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* margin-left: 5%; */
    padding-left: 5%;
    background: var(--BBVA-Aqua-Medium);  
  }

  
body > div.containerInducciones > div:nth-child(2),
body > div.containerInducciones > div:nth-child(3),
body > div.containerInducciones > div:nth-child(4)
{
  width: 92%;
  background: var(--BBVA-Core-Light-Blue);
  color: var(--BBVA-Aqua-White);
}

.itemInducciones{
  width: 200px;
  height: 500px;
  border: 1px solid var(--BBVA-Core-Dark-Blue);
  margin-top: 10px;
  margin-right: 15px;
  padding: 1%;
  margin-bottom: 90px;
  /* display: flex; */
}

.imagecon,.imagecon2{
  line-height:37px;  
}


.mosaicos{
  min-width: 200px;
  height: 300px;
}

body > section > section > a:nth-child(1) > div > h2,
body > section > section > a:nth-child(2) > div > h2{
  font-size: 1em;  
  
}

body > section > section > a:nth-child(2) > div > p{
  padding-top: 12%;
}

.mosaicos img {
  margin-bottom: 10px;
}

.item i{  
  width: 30px; 
  font-size: 20px;
  /* color: var(--BBVA-Navy); */
}

.item{
  /* width: 65px; */
  font-size: 7px;
  /* justify-content: flex-end; */
  /* padding: 1px; */
  /* color: var(--BBVA-Navy); */
  /* display: flex; */
  flex-direction: column;
}

/* body > section > div.menup > nav > ul > li:nth-child(1) */

body > section > div.menup > nav > ul > nav > ul > li:nth-child(1),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(2),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(3),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(4),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(5),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(6),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(7),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(8),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(9),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(10),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(11),
body > section > div.menup > nav > ul > nav > ul > li:nth-child(12)
{
  width: 170px;  
  height: 110px;
}
div.menup nav ul li{
  width: 56px;  
  
  /* margin-left: 5px; */
}

div.menup nav ul{
  height: 62px;  
  /* margin-left: 5px; */
}

.logo{
  width: 70px;
  height: 58px;
  /* padding-right: 18px;  */
  background-color: transparent; 
}

.sinpuntos{
  margin-left: 1%;
  transform: scale(1.25);
}
.container{
  width: 102%;
  /* background: transparent; */
}

.hamburger{
top: 1%;
left: 82%;
}


.contenedorRevista{
  display: flex;
  flex-wrap:  wrap;
}

.revistaActual {
  width: 600px;
  height:600px;
}

.sizeRevista {
  width: 370px; 
}

li label{
  width: 36px;
  height: 50px;
  padding-left: 75px;
}

.folder1{
  width: 10px;
}

.g-calendar-little{  
  height:560px;
  width: 410px;
}

.g-calendar-little iframe{
  width: 410px;
}

.divvideos{
  left: 50%;
} 

.boton{
  left: 10%;
  width: 100px;
}

.dibujo{
  width: 25%;
} 

.descrip{
  font-size: 12px;
}  

.videoteca{
  width: 92%;
  margin-left:3%;
}

body > section > section > ol > li:nth-child(1) > label,
body > section > section > ol > li:nth-child(2) > label,
body > section > section > ol > li:nth-child(3) > label,
body > section > section > ol > li:nth-child(4) > label,
body > section > section > ol > li:nth-child(5) > label,
body > section > section > ol > li:nth-child(6) > label,
body > section > section > ol > li:nth-child(7) > label,
body > section > section > ol > li:nth-child(8) > label,
body > section > section > ol > li:nth-child(9) > label,
body > section > section > ol > li:nth-child(10) > label,
body > section > section > ol > li:nth-child(11) > label,
body > section > section > ol > li:nth-child(12) > label,
body > section > section > ol > li:nth-child(13) > label,
body > section > section > ol > li:nth-child(14) > label,
body > section > section > ol > li:nth-child(15) > label,
body > section > section > ol > li:nth-child(16) > label,
body > section > section > ol > li:nth-child(17) > label,
body > section > section > ol > li:nth-child(18) > label,
body > section > section > ol > li:nth-child(19) > label,
body > section > section > ol > li:nth-child(20) > label,
body > section > section > ol > li:nth-child(21) > label,
body > section > section > ol > li:nth-child(22) > label
{  
  width: 90%;
  margin-bottom: 5%;
}

.contenedorFolders{
  display: flex;
  flex-wrap: wrap;
}

.imagenprevia {
  width: 80%;
}

.ol.tree{
  border-left:1px #072146 solid;
}

li input + ol{
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAURJREFUeNpi/P//PwMlgImBQkCxASwwRlLLKwYmJqZgRkbGbiBXEYva+0Dvlv7792/tvBoxTAO+fv0MororE6UU9VU5MHRfvP1DsX3+M5DhaxkYxDC98ObNGxBW1FVmY/j16xcYu6SdYvjw4QPDixcvGGSEvoLlQeqweuHdu7dg+vfv32D85ctXsNijR4/B4hwcnHA1WA348uUbmP779y+DUchOuIKQsltgetsUE7garAb8/w9h/vz5h+H0Sk8w2yRsN8OZVa5g9ocPn+BqsBrAzs4PdQEzw48ff+Fi375B2Gxs3HA1WNPB45NlDNzcIvfPXv8LVMwJxmdWOcDZF2//A8uD1GF1wefXZ8Q+Pt42oWN+VBED41d5DKv+/30IlJ8IVCcF5D2DCTPC8gIwAXEDKT4Qk0Di+wzU8xnDgKGbmQACDAAtTZadqmiADQAAAABJRU5ErkJggg==') 0px 0 no-repeat;
}


.footer{
  padding-top: 1%;
}

.containerMeu{
display: grid;
grid-template:repeat(5, 1fr) / repeat(1, 1fr);
height: auto;
}

.itemMeu1, .itemMeu2, .itemMeu3, .itemMeu4, .itemMeu5 {
padding-top: 35%;
}

li.file a{
  display: initial;
}

.gridSdr{
  display: grid;
  /* grid-gap: 5px; */
  row-gap: 2px;
  grid-template: repeat(5,1fr)/repeat(3,1fr);
  /* grid-template: 30% 20% 20% 20% 20%/repeat(3,1fr); */
  /* padding: 50px;   */
  /* margin: 1%; */
  margin-left: 5%;
  margin-right: 5%;
  color: var(--BBVA-Aqua-White);
  border: var(--BBVA-Core-Blue);
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  grid-template-areas:  

  "cuadroTituloSdr cuadroTituloSdr cuadroTituloSdr"
  "modulo1 modulo2 modulo3"
  "principio1 principio4 principio7"
  "principio2 principio5 principio8"
  "principio3 principio6 principio9"
  ;  
  height: 760px;
}

.itemGridSdr{
  height: 102%;
  border: 0.5px solid var(--BBVA-Aqua-White);  
}

.gridPrincipio1{display: grid;row-gap: 2px;
  /* grid-template: repeat(10,1fr)/repeat(1,1fr); */
  grid-template: 33% /100%;
  margin: 1%; margin-left: 5%;margin-right: 5%;
  color: var(--BBVA-Aqua-White);border: var(--BBVA-Core-Blue);
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  grid-template-areas:
  "cuadroTituloPrincipio1"
  "item1P1"
  "item2P1"
  "item3P1"
  "item4P1"
  "item5P1"
  "item6P1"
  "item7P1"
  "item8P1"
  "item9P1"
  ;
  padding-bottom: 0.5px;
  /* height: 2000px; */
}

.gridPrincipio4{display: grid;row-gap: 2px;
  /* grid-template: repeat(10,1fr)/repeat(1,1fr); */
  grid-template: 45% /100%;
  margin: 1%; margin-left: 5%;margin-right: 5%;
  color: var(--BBVA-Aqua-White);border: var(--BBVA-Core-Blue);
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  grid-template-areas:
  "cuadroTituloPrincipio4"
  "item1P1"
  "item2P1"
  "item3P1"
  "item4P1"
  "item5P1"
  "item6P1"
  "item7P1"
  "item8P1"
  "item9P1"
  ;
  padding-bottom: 0.5px;
  /* height: 2000px; */
}

.containeractividades{
  margin-left: 7%;
}

.diapositiva{
  margin-top: 2%;
  margin-left: 30%;
  height: 400px;
  width: 385px;
}

body > div.containerPuenteSDR > div:nth-child(1),
body > div.containerPuenteSDR > div:nth-child(2),
body > div.containerPuenteSDR > div:nth-child(3),
body > div.containerPuenteSDR > div:nth-child(4)
{
  width: 90%;
  height: 100%;
  background: var(--BBVA-Core-Light-Blue);
  color: var(--BBVA-Aqua-White);
}

.sdrPuente{
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  background: var(--BBVA-Core-Light-Blue);
  /* margin-left: 5%;
  margin-right: 5%; */
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  padding: 1%;
}
.sdrPuentebloque{
  
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
}

.pdfs{
  width: 100%;
}

.gridHre{
  display: grid;
  width: 100%;
  /* grid-gap: 5px; */
  row-gap: 2px;
  grid-template: 47% 11% 15% 13% 13%/1fr;
  /* padding: 50px;   */
  /* margin: 1%; */
  margin-left: 5%;
  margin-right: 5%;
  color: var(--BBVA-Aqua-White);
  border: var(--BBVA-Core-Blue);
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  grid-template-areas:
  "cuadroTituloSdr cuadroTituloSdr"
  "unidad1 descripcion1"
  "unidad2 descripcion2"
  "unidad3 descripcion3"
  "unidad4 descripcion4"
  ;
}
.imgHerramientas{
  width: 100%;
}

.itemGridHre{
  /* border: 1px solid blue; */
  /* height: 35%; */
  width: 100%;
  padding: 1%;
  /* text-align: center; */
  /* box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75); */
}

.bannerP1Herramientas{
height: auto;

}

}

@media only screen and (min-width: 200px) and (max-width: 767px) and (max-height: 767px) {
  .menuppal{    
    height: 111%;    
  }

  .menuppal{
    padding-top: 0%; 
  }

}

